{% extends 'base.html' %}
{% block content %}

    <h1> Kamagu SS Registered Students</h1>

    <h2>
    <!-- Student First Name: {{ firstname }} <br>
    Student Last Name: {{ lastname }}<br>
    Student Gender:{{ gender }}<br>
    Student Age: {{ age }}<br> -->
</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ firstname }}</td>
        <td>{{ lastname }}</td>
        <td>{{ gender }}</td>
        <td>{{ age }}</td>
      </tr>
       
       
    </tbody>
  </table>
    
    <h2>{{ user_details.firstname }}</h2>
    
{% endblock %}