{% extends 'base.html' %}
{% block content %}
   
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
 
</head>

<body>

    <div class="container">
       <br><br>
    <div class="sign_title">
        <h3>New Student Registration</h3>
    </div>
     <form action="{% url 'registration' %}" method="POST" id="regform" enctype="multipart/form-data">
        {% csrf_token%}
         <div class="registerdiv">
          
      <br><br>
           
            <input class="form-control form-control-md" type="text" placeholder="Student First Name" name="firstname" ><br>
            <input class="form-control " type="text" placeholder="Student Last Name" name="lastname" ><br>
              <select name="gender" class="form-control" style="width:100%">
                <option>Select Gender</option>
                <option>Male</option>
                <option>Female</option>
              </select> </br>
            <input class="form-control form-control-md" type="text" placeholder="Student Age" name="age" ><br>
            <input type="submit" class="btn btn-success" value="Register Student" name="submit" style="width:100%" class="form-control"/>

        </div>
    </form>

    {% endblock %}